 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    margin: 0px;
    padding: 0px;
    background-color: black;
    background: url(gymboy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Baloo Bhai', cursive;
}
        


        
        .left{
            display: inline-block;
            /* border: 2px solid red; */
            position: absolute;
            left: 55px;
            top: 29px;
        }
        .mid{
            display: block;
            /* border: 2px solid green; */
            width: 40%;
            margin:33px auto;
        }
        .right{
            position: absolute;
            right: 55px;
            top: 34px;
            display: inline-block;
            /* border: 2px solid yellow; */
        }
        .navbar{
            display: inline-block;
        }
        .navbar li{
            display: inline-block;
            font-size: 20px;
          
        }
        .navbar li a{
            color: white ;
            text-decoration: none;
            padding: 34px 10px;
        }
        .navbar li a:hover, .navbar li a :active{
            text-decoration: underline;
            color: gray;

        }
        .left img{
            
            width: 100px;
            left: 60px;
            /* text-align: center; */
            /* filter: invert(100%); */

        }
        .left div{
            text-align: center;
            line-height: 13px;
            font-size: 16px;
            
        }
        .btn{
            margin: 0px 9px;
            color: white;
            background-color: black;
            padding: 4px 14px;
            border: 2px solid gray;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
        }
        .btn:hover{
            background-color: rgb(44, 43, 43);
        }
        .container{
            border: 2px solid white;
            margin: 106px 80px;
            padding: 75px;
            width: 50%;
            border-radius: 28px;
         }
            .form-group input{
            text-align: center;
            display: block;
            width: 445px;
            padding: 2px;
            border: 2px solid black;
            margin: 10px auto;
            font-size: 20px;
            border-radius: 9px;
            font-family: 'Baloo Bhai', cursive;
          }
           .container h1{
           text-align: center;
          }
         .container button{
          display: block;
          width: 100%;
          margin:20px auto;

          }
          .footer {
            background: #333;
            color: white;
            text-align: center;
            padding: 1rem;
        }

       